
    body {
        font-family: Arial, sans-serif;
        background-color: #c4def7;
        text-align: center;
    }
    
    h1 {
        color: #2f007b; 
    }
    
    h2 {
        color: #0e5073; 
    }